<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="{{ url_for('static', filename='cart.js') }}"></script>
    <script src="https://kit.fontawesome.com/fd17ad0fed.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="icon" href="static/images/favicon.png" type="image/png">
    <title>Game Paradise - Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cart.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='store.css') }}">
    <script>
        cart = {{ cart | tojson }};
        balance = {{balance|round(2)}};
        const activeUser = JSON.parse('{{ activeUser | tojson }}');
        q= "";
    </script>
</head>

<body>
    <script src = "{{ url_for('static',filename='nav.js')}}"></script>
    <script>initNav('','active');</script>
    <main class="cart-container">
        <section class="cart-items">
            <h2>Your Cart Items</h2>
            {% for game in cart %}
            <div class="cart-item">
                <img src="{{ url_for('static', filename=game['img_path'])}}">
                <div class="item-details">
                    <h3>{{game['name']}}</h3>
                    <p class="price">EGP {{game['price']}}</p>
                    <button class="remove-btn">Remove</button>
                </div>
            </div>
            {% endfor %}
        </section>
        <aside class="cart-summary">
            <h2>Order Summary</h2>
            <p>Total : <span class="total-price"></span></p>
            <button class="checkout-btn">Confirm</button>

            <div class="coupon-section">
                <label for="coupon">Have A Coupon?</label>
                <div class="coupon-input">
                    <input type="text" id="coupon" placeholder="Enter Code">
                    <button class="apply-coupon-btn">Apply</button>
                </div>
            </div>
            
        </aside>
    </main>
    <footer>
        © 2025 Game Paradise. All rights reserved.
    </footer>
</body>
<script src="{{url_for('static',filename='nav.js')}}"></script>
</html>