<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{game['name']}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='info.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='store.css') }}">
    <link rel="icon" href="static/images/favicon.png" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/fd17ad0fed.js" crossorigin="anonymous"></script>
    <script>
        const activeUser = JSON.parse('{{ activeUser | tojson}}');
        q = "";
        balance = {{ balance | round(2) }};
        owned = {{ owned | tojson }};
        gameName = {{ game['name'] | tojson }};
    </script>
    <script src="{{ url_for('static', filename='info.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <script src="{{ url_for('static',filename='nav.js')}}"></script>
    <script>initNav('active', 'active');</script>
    <div id="main">
        <div id="upper-part">
            <br><br>
            <h1>{{game['name']}}</h1>
            <div>
                <span>{{(game['rating'] / 20) | round(1)}} <span class="stars"></span> </span>
                <script>percentageToStars({{ game['rating']}});</script>
                <span>🎮 {{game['genre1']}}</span>
                <span>🎮 {{game['genre2']}}</span>
            </div>
        </div>

        <div>
            <hr>
            <div id="cont-wrapper">
                <div id="screenshots">
                    <iframe id="screenshot-video" width="500" height="281"
                        src="https://www.youtube.com/embed/{{trailer}}?autoplay=1&mute=1&controls=1" frameborder="0"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>

                    <img id="screenshot-img" src="{{ url_for('static', filename=screenshots[0]['img_path']) }}"
                        width="500">
                    <button class="prev">&#10094;</button>
                    <button class="next">&#10095;</button>
                </div>

                <script id="screenshot-data" type="application/json">
                    {{ screenshots | tojson }}</script>

                <script>document.querySelector("#main").style.backgroundImage = "linear-gradient({{bgColor}}99, #000000)"</script>


                <div id="info-container">
                    <!-- vscode-ignore -->
                    <div class="image-swap" role="img" aria-label="template poster"
                        style="background-image: url('{{ url_for('static', filename=game['img_path']) }}');"></div>
                    <p>EGP {{((game['price'] / 300) * 48) | round(2)}}</p>

                </div>
            </div>

            <hr>
        </div>

        <div id="dis">
            <h3>About the Game</h3>
            <hr>
            <p>{{game['description'] | safe}}</p>
        </div>

        <div style="display: flex; flex-direction: column;">
            <div style="flex: 1;">
                <p style="text-align: center; font-size: 30px;">User Rating</p>
                <p style="text-align: center; font-size: 25px;">{{(game['rating'] / 20) | round(1)}} <span
                        class="stars"></span></p>
                <script>percentageToStars({{ game['rating']}});</script>
            </div>
        </div>
        <div style="display:flex ; align-items: center; justify-content: center; flex-direction: row; gap: 100px">
            <p
                style="background-color: #292929; text-align: center; font-size: 25px; padding: 30px; border-radius: 8px;">
                🎮 {{game['genre1']}}</p>
            <p
                style="background-color: #292929; text-align: center; font-size: 25px; padding: 30px; border-radius: 8px;">
                🎮 {{game['genre2']}}</p>
        </div>

        <div id="requirements">
            <h3>System Requirements</h3>
            <hr>
            <br>
            <div class="min-rec-div">
                <div style="display: flex; flex-direction:column; width: 50%">{{game['min_requirements'] | safe}}</div>
                <div style="display: flex; flex-direction:column; width: 50%">{{game['rec_requirements'] | safe}}</div>
            </div>

            <span>Languages Supported</span><br>
            {{game['langs'] | safe}}
            </p><br> <br>
            <span>{{game['trademark'] | safe}}</span>
        </div>

        <p style="text-align: center; margin: 0%;">Best Regards to Water Gas and Legendary Games :)</p>
    </div>


    <footer>
        <div id="bef-end">
            <br>
            <h2>Developers</h2>
            <hr>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>GitHub</th>
                    <th>LinkedIn</th>
                    <th>Contribution</th>
                </tr>
                <tr>
                    <td>Abdo A. Shalaby</td>
                    <td><a href="mailto:abdoshalaby1977@gmail.com">abdoshalaby1977@gmail.com</a></td>
                    <td><a href="https://github.com/AbdoShalaby1" target="_blank">github.com/AbdoShalaby1</a></td>
                    <td><a href="https://www.linkedin.com/in/abdo-shalaby" target="_blank">linkedin.com/in/abdo-shalaby</a></td>
                    <td>Core Development, Backend & Frontend</td>
                </tr>
                <tr>
                    <td>Kareem Maged</td>
                    <td><a href="mailto:kareem.maged2005@gmail.com">kareem.maged2005@gmail.com</a></td>
                    <td><a href="https://github.com/Kareem-Maged" target="_blank">github.com/Kareem-Maged</a></td>
                    <td><a href="https://www.linkedin.com/in/kareem-maged-89182b346"
                            target="_blank">linkedin.com/in/kareem-maged-89182b346</a></td>
                    <td>Backend & Frontend</td>
                </tr>
                <tr>
                    <td>Youssef Abo Zahra</td>
                    <td><a href="mailto:yousseifyasser9@gmail.com">yousseifyasser9@gmail.com</a></td>
                    <td><a href="https://github.com/yousseif2005" target="_blank">github.com/yousseif2005</a></td>
                    <td><a href="https://www.linkedin.com/in/abozahra" target="_blank">linkedin.com/in/abozahra</a></td>
                    <td>Frontend</td>
                </tr>
                <tr>
                    <td>Ahmed Amr</td>
                    <td><a href="mailto:ahmedamrrashad@yahoo.com">ahmedamrrashad@yahoo.com</a></td>
                    <td><a href="https://github.com/Ahm27" target="_blank">github.com/Ahm27</a></td>
                    <td><a href="https://www.linkedin.com/in/ahmedamr" target="_blank">linkedin.com/in/ahmedamr</a></td>
                    <td>Frontend</td>
                </tr>
                <tr>
                    <td>Omar Mohamed</td>
                    <td><a href="mailto:omar.m.mahmoud.06@gmail.com">omar.m.mahmoud.06@gmail.com</a></td>
                    <td><a href="https://github.com/oMaR-M-M" target="_blank">github.com/oMaR-M-M</a></td>
                    <td><a href="https://www.linkedin.com/in/omarmohamed"
                            target="_blank">linkedin.com/in/omarmohamed</a></td>
                    <td>Frontend</td>
                </tr>
            </table>
        </div>

        <div id="end">
            <span>© 2025 Game Paradise. All rights reserved.</span>
        </div>
    </footer>




</body>
<script src="{{url_for('static',filename='nav.js')}}"></script>

</html>