<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="static/images/favicon.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="{{ url_for('static', filename='wishlist.js') }}"></script>
    <script src="https://kit.fontawesome.com/fd17ad0fed.js" crossorigin="anonymous"></script>
    <title>Game Paradise - Wishlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='store.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='wishlist.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>const activeUser = JSON.parse('{{ activeUser | tojson}}');</script>
    <script>const balance = JSON.parse('{{ balance|round(2) | tojson}}');</script>
</head>

<body>
    <script src="static/nav.js"></script>
    <script>initNav('false');</script>
    <main>
        <h1>Your Wishlist</h1>
        <div class="wishlist-container">
            <!-- Items will be loaded by JavaScript -->
        </div>
    </main>
    <footer>
        © 2025 Game Paradise. All rights reserved.
    </footer>
</body>

</html>