<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="static/images/favicon.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="{{ url_for('static', filename='wishlist.js') }}"></script>
    <script src="https://kit.fontawesome.com/fd17ad0fed.js" crossorigin="anonymous"></script>
    <title>Game Paradise - Wishlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='store.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='wishlist.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>const activeUser = JSON.parse('{{ activeUser | tojson}}');</script>
    <script>const balance = JSON.parse('{{ balance|round(2) | tojson}}');</script>
</head>

<body>
    <script src="static/nav.js"></script>
    <script>initNav('false');</script>
    <main>
        <h1>Your Wishlist</h1>
        <div class="wishlist-container">
            <!-- Items will be loaded by JavaScript -->
        </div>
    </main>
    <footer>
            <div id="bef-end">
                <br>
                <h2>Developers</h2>
                <hr>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>GitHub</th>
                        <th>LinkedIn</th>
                        <th>Contribution</th>
                    </tr>
                    <tr>
                        <td>Abdo A. Shalaby</td>
                        <td><a href="mailto:abdoshalaby1977@gmail.com">abdoshalaby1977@gmail.com</a></td>
                        <td><a href="https://github.com/AbdoShalaby1" target="_blank">github.com/AbdoShalaby1</a></td>
                        <td><a href="https://www.linkedin.com/in/abdo-shalaby" target="_blank">linkedin.com/in/abdo-shalaby</a></td>
                        <td>Core Development, Backend & Frontend</td>
                    </tr>
                    <tr>
                        <td>Kareem Maged</td>
                        <td><a href="mailto:kareem.maged2005@gmail.com">kareem.maged2005@gmail.com</a></td>
                        <td><a href="https://github.com/Kareem-Maged" target="_blank">github.com/Kareem-Maged</a></td>
                        <td><a href="https://www.linkedin.com/in/kareem-maged-89182b346"
                                target="_blank">linkedin.com/in/kareem-maged-89182b346</a></td>
                        <td>Backend & Frontend</td>
                    </tr>
                    <tr>
                        <td>Youssef Abo Zahra</td>
                        <td><a href="mailto:yousseifyasser9@gmail.com">yousseifyasser9@gmail.com</a></td>
                        <td><a href="https://github.com/yousseif2005" target="_blank">github.com/yousseif2005</a></td>
                        <td><a href="https://www.linkedin.com/in/abozahra" target="_blank">linkedin.com/in/abozahra</a></td>
                        <td>Frontend</td>
                    </tr>
                    <tr>
                        <td>Ahmed Amr</td>
                        <td><a href="mailto:ahmedamrrashad@yahoo.com">ahmedamrrashad@yahoo.com</a></td>
                        <td><a href="https://github.com/Ahm27" target="_blank">github.com/Ahm27</a></td>
                        <td><a href="https://www.linkedin.com/in/ahmedamr" target="_blank">linkedin.com/in/ahmedamr</a></td>
                        <td>Frontend</td>
                    </tr>
                    <tr>
                        <td>Omar Mohamed</td>
                        <td><a href="mailto:omar.m.mahmoud.06@gmail.com">omar.m.mahmoud.06@gmail.com</a></td>
                        <td><a href="https://github.com/oMaR-M-M" target="_blank">github.com/oMaR-M-M</a></td>
                        <td><a href="https://www.linkedin.com/in/omarmohamed"
                                target="_blank">linkedin.com/in/omarmohamed</a></td>
                        <td>Frontend</td>
                    </tr>
                </table>
            </div>
    
            <div id="end">
                <span>© 2025 Game Paradise. All rights reserved.</span>
            </div>
        </footer>
</body>

</html>