<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="wishlist.css">
</head>

<body>
    <main>
        <h1 style="font-size: 45px;">User name's Wishlist</h1>
        <hr>
        <div class="main-content">
            <a href="#">
                <div class="image" role="img" aria-label="Game-poster"></div>
            </a>
            <div class="Game-info">
                <h2>Game name</h2>
                <p>Overall Reviews:</p>
                <p>Release Date:</p>
            </div>
            <div class="price-cart">
                <p style="font-size: larger;">$00.00</p>
                <button class="add">
                    Add To Cart
                </button>
            </div>
            <button class="remove" title="remove from wishlist">
                ✕
            </button>
        </div>

    </main>

    <footer>
        <diV id="end">
            <p>© 2025 Game Paradise. All rights reserved.</p>
        </diV>
    </footer>
    <script src="wishlist.js"></script>
</body>

</html>